let mapleader = "\<space>"

set commentary
set surround
set easymotion

set scrolloff=10
set ignorecase smartcase
set showmode
set number relativenumber


set clipboard+=unnamed
nnoremap yy "+yy
vnoremap y "+y
nnoremap p "+p
vnoremap p "+p
nnoremap P "+P
vnoremap P "+P
nnoremap <leader>yy yy
vnoremap <leader>y y
nnoremap <leader>p p
vnoremap <leader>p p
nnoremap <leader>P P
vnoremap <leader>P P
nnoremap <leader>dd "+dd
vnoremap <leader>d "+d



vmap H ^
vmap L $
nmap H ^
nmap L $

nmap J 3j
nmap K 3k

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap [e <Action>(GotoPreviousError)
nmap ]e <Action>(GotoNextError)

nmap <Leader>W <Action>(FileMenu)

nmap <Leader>f <Action>(SelectInProjectView)
nmap <Leader>s <Action>(FileStructurePopup)
nmap <Leader>e <Action>(ShowErrorDescription)

nmap <Leader>D <Action>(QuickImplementations)
nmap <Leader>d <Action>(QuickJavaDoc)

nmap <Leader><Leader>H <Action>(VimWindowLeft)

nmap <Space>j :action AceAction<CR>
nmap <Space>l :action AceLineAction<CR>
nmap <Space>t :action AceTargetAction<CR>
