include "binds.kdl"
include "rules.kdl"
include "animations.kdl"
include "environment.kdl"
include "input.kdl"
include "output.kdl"
include "layout.kdl"


prefer-no-csd

spawn-at-startup "dbus-update-activation-environment" "--systemd" "--all"

spawn-at-startup "noctalia" "-d"

spawn-at-startup "fcitx5" "-d"

spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"

spawn-at-startup "xembedsniproxy"

spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"

cursor {
    xcursor-theme "Windows-10"
    xcursor-size 24
}

hotkey-overlay {
    skip-at-startup
}

overview {
    backdrop-color "#353533"
    workspace-shadow {
        off
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
