// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    background-color "#353533"

    gaps 16

    always-center-single-column

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        active-color "#ccdeff"
        inactive-color "#505050"
    }

    shadow {
        on

        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
